@import"https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap";

:root {
  --wrapper-padding: var(--size-9);
  --ff-primary: system-ui;
  --ff-heading: montserrat, sans-serif;
  --ff-nav: rubik, sans-serif;
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fs-900: 3rem;
  --fs-800: 2.25rem;
  --fs-700: 1.5rem;
  --fs-600: 1.375rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: .875rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: .75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 3rem;
  --size-12: 4rem;
  --size-13: 5rem;
  --size-14: 6rem;
  --size-15: 7rem;
  --size-16: 8rem
}

@media screen and (min-width: 52.7em) {
  :root {
    --fs-900: 3.75rem;
    --fs-800: 2.75rem;
    --fs-700: 2rem;
    --fs-600: 1.75rem;
    --fs-500: 1.5rem
  }
}

@media screen and (min-width: 52.7em) {
  :root {
    --size-1: .5rem;
    --size-2: .75rem;
    --size-3: 1rem;
    --size-4: 1.25rem;
    --size-5: 1.5rem;
    --size-6: 1.75rem;
    --size-7: 2rem;
    --size-8: 2.25rem;
    --size-9: 2.5rem;
    --size-10: 3rem;
    --size-11: 4rem;
    --size-12: 5rem;
    --size-13: 6rem;
    --size-14: 7rem;
    --size-15: 8rem
  }
}

*,
*:before,
*:after {
  box-sizing: border-box
}

* {
  margin: 0;
  padding: 0
}

::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-thumb {
  background: #408e40;
  border-radius: 5px
}

::-webkit-scrollbar-track {
  background: transparent
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none
}

html:focus-within {
  scroll-behavior: smooth
}

body {
  height: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

img,
svg,
picture {
  display: block;
  max-width: 100%
}

ul[role=list],
ol[role=list] {
  list-style: none
}

nav a {
  text-decoration: none
}

a {
  text-decoration-skip-ink: auto
}

a[class] {
  color: currentColor
}

i {
  user-select: none
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4 {
  line-height: .9
}

@media screen and (min-width: 52.7em) {

  h1,
  .heading-1,
  h2,
  .heading-2,
  h3,
  .heading-3,
  h4,
  .heading-4 {
    line-height: 1
  }
}

html[disabled-animation] * {
  transition: none
}

body {
  background: #3a3a3a;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  overflow-x: hidden
}

h1,
.heading-1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-900)
}

h2,
.heading-2 {
  font-size: var(--fs-800);
  font-weight: var(--fw-800)
}

h3,
.heading-3 {
  font-size: var(--fs-700);
  font-weight: var(--fw-700)
}

h4,
.heading-4 {
  font-size: var(--fs-500);
  font-weight: var(--fw-700)
}

.header {
  background: pink;
  position: sticky;
  top: 0;
  z-index: 999
}

.header-toggle {
  position: relative;
  display: grid;
  padding-block: calc(var(--size-4) + 17.5px);
  background: #fff;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto
}

@media screen and (min-width: 52.7em) {
  .header-toggle {
    display: none;
    padding-block: var(--size-4)
  }
}

.header-toggle * {
  position: absolute;
  place-self: center;
  transition: transform .3s ease
}

.header-toggle *:first-child {
  opacity: 0;
  pointer-events: none;
  transform: rotate(-90deg)
}

.header-toggle *:last-child {
  opacity: 1;
  pointer-events: auto;
  transform: rotate(0)
}

.header-toggle[toggled] *:first-child {
  opacity: 1;
  pointer-events: auto;
  transform: rotate(0)
}

.header-toggle[toggled] *:last-child {
  opacity: 0;
  pointer-events: none;
  transform: rotate(90deg)
}

.header-toggle[toggled]+nav {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0)
}

.header-nav {
  background: #e6e6fa;
  position: absolute;
  top: 100%;
  height: 100vh;
  width: calc(100% + var(--wrapper-padding));
  left: calc(var(--wrapper-padding) * -1 / 2);
  z-index: -1;
  transform: translateY(1%);
  transition: transform .3s ease, opacity .3s ease;
  opacity: 1;
  pointer-events: auto
}

@media screen and (min-width: 52.7em) {
  .header-nav {
    background: transparent;
    position: relative;
    height: auto;
    width: auto;
    left: auto;
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0)
  }
}

.header-navmenu {
  padding-block: var(--size-2)
}

@media screen and (min-width: 52.7em) {
  .header-navmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-1);
    padding-block: 0
  }
}

.header-navmenu a {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between
}

.header-navmenu a[toggle-back] {
  color: currentColor;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  padding-block: var(--size-1);
  margin-bottom: var(--size-1)
}

@media screen and (min-width: 52.7em) {
  .header-navmenu a[toggle-back] {
    display: none
  }
}

.header-navmenu a[toggle-menu]>i {
  transform: rotate(-90deg)
}

@media screen and (min-width: 52.7em) {
  .header-navmenu a[toggle-menu]>i {
    transform: rotate(0)
  }
}

.header-navmenu>li>a {
  padding-inline: var(--size-1);
  margin-inline: var(--size-2);
  border-radius: 3px
}

@media screen and (min-width: 52.7em) {
  .header-navmenu>li>a {
    gap: var(--size-1);
    padding-block: var(--size-4);
    margin-inline: 0;
    border-radius: 0
  }
}

@media screen and (min-width: 52.7em) {
  .header-navmenu li {
    position: relative
  }
}

.header-navmenu li:hover>a {
  background: #90ee90
}

@media screen and (min-width: 52.7em) {
  .header-navmenu li:hover>a+ul {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0)
  }
}

.header-navmenu li *>a {
  padding-inline: var(--size-1);
  margin-inline: var(--size-2);
  border-radius: 3px
}

.header-navmenu ul {
  background: #e6e6fa;
  position: absolute;
  min-width: 100%;
  height: 100vh;
  padding-block: var(--size-2);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease
}

@media screen and (min-width: 52.7em) {
  .header-navmenu ul {
    min-width: var(--size-15);
    height: auto;
    box-shadow: 0 5px 5px #0000004d
  }
}

.header-navmenu a[toggle-menu]+ul[toggled] {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0)
}

.header-navmenu>li>a+ul {
  top: 0;
  transform: translate(10%)
}

@media screen and (min-width: 52.7em) {
  .header-navmenu>li>a+ul {
    top: 100%;
    transform: translateY(10%)
  }
}

.header-navmenu>li *>a+ul {
  top: 0;
  transform: translate(10%)
}

@media screen and (min-width: 52.7em) {
  .header-navmenu>li *>a+ul {
    transform: translateY(10%);
    right: 100%;
    top: calc(100% - 2 * var(--size-4))
  }
}

.wrapper {
  position: relative;
  --padding: var(--wrapper-padding);
  --max-width: 66em;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto
}

.wrapper[data-variant=narrow] {
  --max-width: 56em
}

.wrapper[data-variant=full-bleed] {
  --max-width: 100%;
  --padding: 0
}

.flow>:where(*+*) {
  margin-top: var(--size-4)
}

.round {
  border-radius: 50%
}

.img-box {
  display: grid;
  place-content: center;
  object-fit: cover
}

.logo {
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;
  object-fit: cover
}

.padding-sm {
  padding: var(--size-2)
}

.padding-block-sm {
  padding-block: var(--size-2)
}

.padding-inline-sm {
  padding-inline: var(--size-2)
}

.padding-top-sm {
  padding-top: var(--size-2)
}

.padding-left-sm {
  padding-left: var(--size-2)
}

.padding-bottom-sm {
  padding-bottom: var(--size-2)
}

.padding-right-sm {
  padding-right: var(--size-2)
}

.padding-default {
  padding: var(--size-6)
}

.padding-block-default {
  padding-block: var(--size-6)
}

.padding-inline-default {
  padding-inline: var(--size-6)
}

.padding-top-default {
  padding-top: var(--size-6)
}

.padding-left-default {
  padding-left: var(--size-6)
}

.padding-bottom-default {
  padding-bottom: var(--size-6)
}

.padding-right-default {
  padding-right: var(--size-6)
}

.padding-large {
  padding: var(--size-10)
}

.padding-block-large {
  padding-block: var(--size-10)
}

.padding-inline-large {
  padding-inline: var(--size-10)
}

.padding-top-large {
  padding-top: var(--size-10)
}

.padding-left-large {
  padding-left: var(--size-10)
}

.padding-bottom-large {
  padding-bottom: var(--size-10)
}

.padding-right-large {
  padding-right: var(--size-10)
}

.padding-auto {
  padding: auto
}

.padding-block-auto {
  padding-block: auto
}

.padding-inline-auto {
  padding-inline: auto
}

.padding-top-auto {
  padding-top: auto
}

.padding-left-auto {
  padding-left: auto
}

.padding-bottom-auto {
  padding-bottom: auto
}

.padding-right-auto {
  padding-right: auto
}

.margin-sm {
  margin: var(--size-2)
}

.margin-block-sm {
  margin-block: var(--size-2)
}

.margin-inline-sm {
  margin-inline: var(--size-2)
}

.margin-top-sm {
  margin-top: var(--size-2)
}

.margin-left-sm {
  margin-left: var(--size-2)
}

.margin-bottom-sm {
  margin-bottom: var(--size-2)
}

.margin-right-sm {
  margin-right: var(--size-2)
}

.margin-default {
  margin: var(--size-6)
}

.margin-block-default {
  margin-block: var(--size-6)
}

.margin-inline-default {
  margin-inline: var(--size-6)
}

.margin-top-default {
  margin-top: var(--size-6)
}

.margin-left-default {
  margin-left: var(--size-6)
}

.margin-bottom-default {
  margin-bottom: var(--size-6)
}

.margin-right-default {
  margin-right: var(--size-6)
}

.margin-large {
  margin: var(--size-10)
}

.margin-block-large {
  margin-block: var(--size-10)
}

.margin-inline-large {
  margin-inline: var(--size-10)
}

.margin-top-large {
  margin-top: var(--size-10)
}

.margin-left-large {
  margin-left: var(--size-10)
}

.margin-bottom-large {
  margin-bottom: var(--size-10)
}

.margin-right-large {
  margin-right: var(--size-10)
}

.margin-auto {
  margin: auto
}

.margin-block-auto {
  margin-block: auto
}

.margin-inline-auto {
  margin-inline: auto
}

.margin-top-auto {
  margin-top: auto
}

.margin-left-auto {
  margin-left: auto
}

.margin-bottom-auto {
  margin-bottom: auto
}

.margin-right-auto {
  margin-right: auto
}

.shadow-bottom-sm {
  box-shadow: 0 2px 5px #0000004d
}

.shadow-bottom-default {
  box-shadow: 0 6px 5px #0000004d
}

.shadow-bottom-large {
  box-shadow: 0 9px 5px #0000004d
}

.ff-primary {
  font-family: system-ui
}

.ff-heading {
  font-family: montserrat, sans-serif
}

.ff-nav {
  font-family: rubik, sans-serif
}

.fw-900 {
  font-weight: 900
}

.fw-800 {
  font-weight: 800
}

.fw-700 {
  font-weight: 700
}

.fw-600 {
  font-weight: 600
}

.fw-500 {
  font-weight: 500
}

.fw-400 {
  font-weight: 400
}

.text-center {
  text-align: center
}

.text-capitalize {
  text-transform: capitalize
}

.text-lowercase {
  text-transform: lowercase
}

.text-uppercase {
  text-transform: uppercase
}

.text-nowrap {
  white-space: nowrap
}

.gap-1 {
  gap: var(--size-1)
}

.gap-2 {
  gap: var(--size-2)
}

.gap-3 {
  gap: var(--size-3)
}

.gap-4 {
  gap: var(--size-4)
}

.gap-5 {
  gap: var(--size-5)
}

.gap-6 {
  gap: var(--size-6)
}

.gap-7 {
  gap: var(--size-7)
}

.gap-8 {
  gap: var(--size-8)
}

.gap-9 {
  gap: var(--size-9)
}

.gap-10 {
  gap: var(--size-10)
}

.gap-11 {
  gap: var(--size-11)
}

.gap-12 {
  gap: var(--size-12)
}

.gap-13 {
  gap: var(--size-13)
}

.gap-14 {
  gap: var(--size-14)
}

.gap-15 {
  gap: var(--size-15)
}

.gap-16 {
  gap: var(--size-16)
}

.border-radius-1 {
  border-radius: 1px
}

.border-radius-2 {
  border-radius: 2px
}

.border-radius-3 {
  border-radius: 3px
}

.border-radius-4 {
  border-radius: 4px
}

.border-radius-5 {
  border-radius: 5px
}

.border-radius-6 {
  border-radius: 6px
}

.border-radius-7 {
  border-radius: 7px
}

.border-radius-8 {
  border-radius: 8px
}

.border-radius-9 {
  border-radius: 9px
}

.border-radius-10 {
  border-radius: 10px
}

.border-radius-11 {
  border-radius: 11px
}

.border-radius-12 {
  border-radius: 12px
}

.border-radius-13 {
  border-radius: 13px
}

.border-radius-14 {
  border-radius: 14px
}

.border-radius-15 {
  border-radius: 15px
}

.grid-center,
.hero-button {
  display: grid;
  place-content: center
}

.width-100 {
  width: 100%
}

.width-50 {
  width: 50%
}

.width-25 {
  width: 25%
}

:root {
  --hero-nav-item-per-view: 7
}

.hero-container {
  position: relative;
  overflow: hidden
}

.hero-slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth
}

.hero-slider.disable-slider {
  scroll-behavior: auto
}

.hero-slider>a {
  scroll-snap-align: start
}

.hero-slider>a>img {
  width: 100%;
  object-fit: cover;
  object-position: center
}

.hero-button {
  color: #fff !important;
  backdrop-filter: blur(20px);
  text-decoration: none;
  transition: background 1s ease
}

.hero-button:hover {
  background: #ffffff80
}

.hero-nav {
  background: #0000001a;
  backdrop-filter: blur(20px);
  position: absolute;
  bottom: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-auto-columns: 12% 76% 12%;
  width: 100%
}

@media screen and (min-width: 52.7em) {
  .hero-nav {
    grid-auto-columns: 7% 86% 7%
  }
}

.hero-navmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  padding-block: var(--size-4)
}

@media screen and (min-width: 52.7em) {
  .hero-navmenu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding-block: 0;
    gap: 0
  }
}

.hero-navmenu.disable-slider {
  scroll-behavior: auto
}

.hero-navmenu>a {
  background: #80808033;
  backdrop-filter: blur(20px);
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  scroll-snap-align: start;
  transition: background 1s ease, width .3s ease;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px #0000004d
}

@media screen and (min-width: 52.7em) {
  .hero-navmenu>a {
    color: gray;
    padding: var(--size-3);
    width: auto;
    height: auto;
    border-radius: 0;
    box-shadow: none
  }
}

.hero-navmenu>a:not(:last-of-type) {
  border-right: 2px solid transparent
}

.hero-navmenu>a.active,
.hero-navmenu>a:hover {
  background: #fff6
}

@media screen and (min-width: 52.7em) {

  .hero-navmenu>a.active,
  .hero-navmenu>a:hover {
    color: #000
  }
}

.hero-navmenu>a.active {
  width: 20px;
  border-radius: 10px;
  overflow: visible
}

@media screen and (min-width: 52.7em) {
  .hero-navmenu>a.active {
    width: auto;
    border-radius: 0
  }
}

.even-columns {
  display: grid
}

@media screen and (min-width: 52.7em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr
  }
}

.flex {
  display: flex;
  gap: 0
}

.flex.align-start {
  align-items: start
}

.flex.align-center {
  align-items: center
}

.flex.align-end {
  align-items: end
}

.flex.justify-start {
  justify-content: start
}

.flex.justify-center {
  justify-content: center
}

.flex.justify-end {
  justify-content: end
}

.flex.space-between {
  justify-content: space-between
}