@use '../../scss/abstracts/' as *;

header {
    // background: #50c5ab;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

.header-inner {
  position: relative;
  padding-block: var(--size-2);
}
  
