@use '../abstracts/' as *;
html[disabled-animation] * {
    transition: none
}
.header {   
    background: pink;
    position: sticky;
    top: 0;
    z-index: 999;

    &-inner {
        // UTILITY CLASSED
    }

    &-toggle {
        
        position: relative;
        display: grid;
        padding-block: (calc(var(--size-4) + 17.5px));
        background: rgb(141, 50, 50);
        cursor: pointer;
        
        @include show-element();

        @include breakpoint(tablet) {
            display: none;
            padding-block: var(--size-4);
        }
    }

    &-toggle {
        * {
            position: absolute;
            place-self: center;
            transition: transform 300ms ease;
        }

        *:first-child {
            @include hide-element();
            transform: rotate(-90deg);
        }

        *:last-child {
            @include show-element();
            transform: rotate(0deg);
        }
    }

    &-toggle[toggle] {
        *:first-child {
            @include show-element();
            transform: rotate(0deg);
        }
    
        *:last-child {
            @include hide-element();
            transform: rotate(90deg);
        }
    }

    &-toggle[toggle] + nav {
        @include show-element();
        transform: translate(0%);
    }

    &-nav {
        background: lavender;
        position: absolute;
        top: 100%;
        height: 100vh;
        width: calc(100% + var(--wrapper-padding));
        left: calc(var(--wrapper-padding) * -1 / 2);
        z-index: -1;

        transform: translateY(1%);
        transition: transform 300ms ease, opacity 300ms ease;

        @include hide-element();
        @include breakpoint(tablet) {
            background: transparent;
            position: relative;
            height: auto;
            width: auto;
            left: auto;
            z-index: 1;
            @include show-element();
            transform: translate(0%);
        }
    }

    &-navmenu {
        padding-block: var(--size-2);
        @include breakpoint(tablet) {
            @include flex-center(var(--size-1));
            padding-block: 0;
        }

        // GLOBAL NAV LINK & SUBMENU
        a {
            @include flex-center-y();
            justify-content: space-between;
        }

        a[toggle-back] {
            color: currentColor;
            font-size: var(--fs-400);
            font-weight: var(--fw-600);
            text-transform: uppercase;
            padding-block: var(--size-1);
            margin-bottom: var(--size-1);
            @include breakpoint(tablet) {
                display: none;
            }
        }

        a[toggle-menu] > i {
            transform: rotate(-90deg);

            @include breakpoint(tablet) {
                transform: rotate(0);
            }
        }

        

        // FIRST NAV LINK
        > li > a {
            padding-inline: var(--size-1);
            margin-inline: var(--size-2);
            border-radius: 3px;

            @include breakpoint(tablet) {   
                gap: var(--size-1);
                padding-block: var(--size-4);
                margin-inline: 0;
                border-radius: 0;
            }
        }

        // GLOBAL NAV ITEM
        li {
            
            @include breakpoint(tablet) {
                position: relative;
            }
        }

        li:hover > a {
            background: lightgreen;
        }

        li:hover > a + ul {
            //hover will take effect only on desktop mode
            @include breakpoint(tablet) {
                @include show-element();
                transform: translate(0);
            }
        }

        li *> a {
            padding-inline: var(--size-1);
            margin-inline: var(--size-2);
            border-radius: 3px;
        }

        
        
        // GLOBAL NAV MENU & SUBMENU
        ul {
            background: lavender;
            position: absolute;
            min-width: 100%;
            height: 100vh;
            padding-block: var(--size-2);

            z-index: 1;
            @include hide-element();
            //for transition to take effect on both entry and exit
            transition: 300ms ease;

            @include breakpoint(tablet) {
                min-width: var(--size-15);
                height: auto;
                @include shadow-bottom(5px);
            }
        }

        a[toggle-menu] + ul[toggled] {      
            @include show-element();
            transform: translate(0);
        }

        // FIRST SUBMENU
        > li > a + ul {
            top: 0;
            transform: translateX(10%);
            
            @include breakpoint(tablet) {
                top: 100%;
                transform: translateY(10%);
            }
        }

        // SECOND SUBMENU
        > li *> a + ul {
            top: 0;
            transform: translateX(10%);

            @include breakpoint(tablet) {
                transform: translateY(10%);
                right: 100%;
                top: calc(100% - (2 * var(--size-4)));
            }
        }

    }

}
